.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-container {
  display: flex;
  margin: 10px;
  padding: 5px;
  height: 49px;
  border-radius: 5px;
  background-color: #bcdcf1;
}

.spacer {
  flex: 1 1 auto;
}

.action-button-container {
  display: flex;
  gap: 15px;
  width: fit-content;
}

.mat-mdc-extended-fab {
  border-radius: 5px;
}

.mat-mdc-form-field {
  display: flex;
  width: 100%;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  margin-bottom: -1.25em;
}

.mat-mdc-paginator {
  font-weight: bold;
  background-color: #cfd6db;
  display: flex;
  justify-content: end;
  margin-bottom: 15px;
  width: 100%;
}

/* Table Styling */

.mat-mdc-cell {
  text-align: center;
}

::ng-deep .mat-sort-header-container {
  justify-content: center;
}

.mat-mdc-table {
  width: fit-content;
}

.table-container {
  max-width: 100%;
  height: 70vh;
  margin: 10px;
  overflow-x: auto;
  border-radius: 5px;
  border: 1px solid gray;
}

.mdc-data-table__header-cell {
  color: white;
  font-size: 16px;
  font-weight: bold !important;
  background-color: #46aaea !important;
}

.mat-mdc-row:nth-child(odd) {
  background-color: #bfe0f8;
}

.mat-mdc-row.selected-row {
  background-color: #eac813;
}
