<div class="d-flex justify-content-between align-items-center mt-3 p-4 w-100">
    <h4 class="page-heading mb-0">VISTA CALENDARIO</h4>
    <ol class="breadcrumb mb-0 d-flex gap-3 wow fadeInDown" data-wow-delay="0.3s">
        <li class="breadcrumb-item ">
            <a href="#" [routerLink]="['/hogar/eventos']" routerLinkActive="router-link-active" class="text-dark">
                <i class="fa-solid fa-circle-plus"></i> Añadir Evento
            </a>
        </li>
        <li class="breadcrumb-item ">
            <a href="#" routerLink="/hogar/tareas" class="text-dark">
                <i class="fa-solid fa-person-circle-plus "></i> Añadir Tarea
            </a>
        </li>
    </ol>
</div>

<div class="row mt-3 p-4 w-100">

    <div class="col-12 col-md-2 ">
        <div class="h-100 card border-0">
            <div class="card p-3 bg-danger border-0 mb-2">
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="m-0" style="color: rgb(48, 46, 46) !important;">Soluciones</h4>
                <div>
                  <i class="fas fa-edit me-3" style="cursor: pointer;"></i>
                  <i class="fas fa-trash" style="cursor: pointer;"></i>
                </div>
              </div>
            </div>
          
            <div class="card p-3 mb-2 bg-danger border-0">
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="m-0" style="color: rgb(48, 46, 46) !important;">Citas</h4>
                <div>
                  <i class="fas fa-edit me-3" style="cursor: pointer;"></i>
                  <i class="fas fa-trash" style="cursor: pointer;"></i>
                </div>
              </div>
            </div>
          
            <div class="card p-3 mb-2 bg-danger border-0">
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="m-0" style="color: rgb(48, 46, 46) !important;">Contabilidad</h4>
                <div>
                  <i class="fas fa-edit me-3" style="cursor: pointer;"></i>
                  <i class="fas fa-trash" style="cursor: pointer;"></i>
                </div>
              </div>
            </div>
          
            <div class="card p-3 mb-2 bg-danger border-0">
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="m-0" style="color: rgb(48, 46, 46) !important;">Reuniones</h4>
                <div>
                  <i class="fas fa-edit me-3" style="cursor: pointer;"></i>
                  <i class="fas fa-trash" style="cursor: pointer;"></i>
                </div>
              </div>
            </div>
          </div>
          
    </div>

    <!-- Segunda columna -->
    <div class="col-12 col-md-10">
        <div class="d-flex justify-content-between align-items-center">
            <!-- Aquí va el contenido que estaba dentro del div original -->
        </div>
    </div>
</div>