:host {
  font-family: 'Segoe UI', Arial, sans-serif;
}

h6 {
  font-weight: 600 !important;
  color: #666 !important;
}

.text-black {
  color: #333 !important;
}

.text-muted {
  color: #666 !important;
}

