.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

form {
  width: 45vw;
  display: flex;
  font-size: 16px;
  flex-direction: column;
}

.mat-mdc-raised-button {
  height: 50px;
}

.error_msg {
  color: #e54141;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}
