<div class="main-container">
  <div class="icon-container">
    <mat-icon *ngIf="!loading" aria-hidden="false" fontIcon="mail" />
    <mat-spinner *ngIf="loading" mode="indeterminate" />
  </div>

  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
      

      <mat-form-field>
        <mat-label>Correo Electronico</mat-label>
        <input
          matInput
          type="email"
          formControlName="correo"
          placeholder="Ej. john.doe@example.com"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          type="password"
          formControlName="contrasena"
          placeholder="Contraseña"
        />
      </mat-form-field> 

      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid || loading"
      >
        Enviar
      </button>
    </form>
  </div>
</div>
